# Node modules
node_modules/

# Build files
dist/

# Env files (VERY IMPORTANT)
.env

# Logs
logs/
*.log
npm-debug.log*

# OS files
.DS_Store

# IDE files
.vscode/

# Prisma
prisma/migrations/

# Temporary files
*.tmp
/src/generated/prisma
